In [5]:
import os
import pandas as pd
import numpy as np

In [6]:
happy_df = pd.read_csv("C:/Users/brian/project2/ETL-Project/World Happiness Report 2017.csv")

In [3]:
happy_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [7]:
happy_df = happy_df.drop('Whisker.high', 1)
happy_df = happy_df.drop('Whisker.low', 1)
happy_df = happy_df.drop('Economy..GDP.per.Capita.', 1)
happy_df = happy_df.drop('Family', 1)
happy_df = happy_df.drop('Health..Life.Expectancy.', 1)
happy_df = happy_df.drop('Freedom', 1)
happy_df = happy_df.drop('Generosity', 1)
happy_df = happy_df.drop('Trust..Government.Corruption.', 1)
happy_df = happy_df.drop('Dystopia.Residual', 1)

In [9]:
happy_df.head()

       Country  Happiness.Rank  Happiness.Score
0       Norway               1            7.537
1      Denmark               2            7.522
2      Iceland               3            7.504
3  Switzerland               4            7.494
4      Finland               5            7.469

In [10]:
happy_df.to_csv("happy_cleaned.csv")

In [ ]:
starbucks_df = pd.read_csv("C:/Users/brian/project2/ETL-Project/Starbucks Locations.csv")
starbucks_df.head()

In [ ]:
digit_cities_df = pd.read_csv("C:/Users/brian/project2/ETL-Project/two_digit.csv")
digit_cities_df = digit_cities_df.rename(columns={"Code": "Country"})
digit_cities_df

In [ ]:
merge_df = pd.merge(starbucks_df, digit_cities_df, on='Country')
merge_df

In [ ]:
merge_df.dtypes

In [ ]:
merge_df = merge_df.drop('Postcode', 1)
merge_df = merge_df.drop('Phone Number', 1)
merge_df = merge_df.drop('Timezone', 1)

In [ ]:
merge_df

In [ ]:
merge_df = merge_df.rename(columns={"Country": "Country Code", "Name":"Country"})

In [ ]:
merge_df.head()

In [ ]:
merge_df.isnull().sum()

In [ ]:
merge_df = merge_df.drop('Street Address', 1)
merge_df = merge_df.drop('City', 1)
merge_df = merge_df.drop('Longitude', 1)
merge_df = merge_df.drop('Latitude', 1)

In [ ]:
merge_df

In [ ]:
merge_df.isnull().sum()

In [ ]:
merge_df = merge_df.drop('Ownership Type', 1)

In [ ]:
merge_df.isnull().sum()

In [ ]:
merge_df

In [ ]:
merge_df.to_csv("Starbucks_merged.csv")

In [ ]:
country_counts = merge_df['Country'].value_counts()

In [ ]:
country_counts_df = pd.DataFrame(country_counts)

In [ ]:
country_counts_df.head()

In [ ]:
#country_counts_df.to_csv("country_counts.csv")

In [ ]:
counts_df = country_counts_df.reset_index()

In [ ]:
counts_df.head()

In [ ]:
counts_df = counts_df.rename(columns={"index": "Country", "Country":"Count"})

In [ ]:
counts_df.to_csv("Country_counts.csv")